/* TODO(you): Write the CSS to finish the assignment! */
body {
    margin: 0;
    padding: 0;   
}
html{
    font-family: 'Proxima Nova','Helvetica',
    'Arial',sans-serif;
    font-size: 18px;
    color: #222222;
}
main {
    width: 700px;
    margin: 0 auto;
}
.Head{
   
    display: flex;
    justify-content: space-between;
    height: 80px;
    border-bottom: #ccc 1px solid;
}
.course {
    font-family: 'Helvetica', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #ee3322;
    line-height: 80px;
}
.item {
    display: inline-block;
   text-align: center;
    font-weight: bold;
    background: #ffee00;
    border-radius: 100%;
    width: 50px;
    line-height: 50px;
    transform: rotate(-30deg);
}
.container{
    background: url('images/background.jpg');
    height: 435px;
    position: relative;
    margin:  auto;
    background-size: cover;
}
.textbox {  
    max-width: 75%;
}
.text{
    text-align: center;
    color: black;
    font-size: 60px;
    font-family: 'Pangolin','Trebuchet MS', cursive;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.author {
    padding: 18px;
    text-align: center;
    font-size: 14px;
}

article{

    margin: auto;

}
#quizstart{
    margin-top: 36px;
    text-align: center;
    padding: 18px;
    background-color: #f1f1f1 ;   
    
}
button {
    position: relative;
    background-color: #2196F3;
    margin-top: 36px;
    margin-bottom: 18px;
    padding: 18px;
    cursor: pointer; 
    color: white; 
}
button:hover {
    background-color: #0d8bf2;
}



.submit {
    margin-top: 30px;
    text-align: center;
    position: relative;
    padding: 10px;
    background-color: #f1f1f1 ;
}
.submitbutton {
    background-color: #4CAF50;

}

#SubmitButton:hover {
    background-color: #46a049 ;
}

 .answer label {
    display: flex;
    padding: 15px 0px 15px 45px;
    background-color: #f1f1f1;
    margin-bottom: 1px;
    justify-content: space-between;
    word-wrap: break-word;
    
}
input {
    margin: 20px;
    position: absolute;
    display: block;
    overflow: auto;
  
}

label:hover {
    background-color: #ddd;
}

input[type="radio"]:checked+label {
    background: #ddd;
}
.answercmt {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;

    right: 10px;
    top: 10px;
}
.correctanswer {
    background-color: #d4edda;
}
.wronganswer {
    background-color: #f8d7da;
}
.submitbutton:hover {
    background-color: #46a049;
}
.resultbox {
    margin-top: 36px;
    text-align: center;
    padding: 20px;
    border: #dcdcdc 1px solid;
    background-color: #f1f1f1 ;
}

.score {
    font-size:  24px;
}
.correctans, .wrongans {
    
    color: white;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    font-size: 18px;
    text-align: center;

}
.optionlists {
    /* width: 100%; */
    word-wrap: break-word;
}
@media only screen and (max-width: 700px)  {
    main {
        width: 95%;
    }
}

@media only screen and (max-width: 500px)  {
    .item {
        display: none;
    }
}
/* @media only screen and (max-width: 620px) {
    .correctans,
    .wrongans {
        font-size: 0.8rem;
        /* padding: auto; */
        /* width: 15%; */
    /* }
} */  




 